$bodyNightColor: rgb(31, 31, 31);
$elementNightColor: rgb(10, 10, 10);

$customColor: linear-gradient(322deg, 
           #ba4aff, rgba(#ba4aff, 0) 70%),
         linear-gradient(178deg,
           #01447e, rgba(#01447e, 0) 70%),
         linear-gradient(24deg,
           #37a18a, rgba(#37a18a, 0) 35%);